body {
	background-color: #eeeeee;
	color: #222222;
	
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	
}

.device-title {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	
	display: block;
	margin: 2em 0;
	padding: 0;
}

.apple-logo:before {
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.4);
	
	content: "\f179";
	font-family: FontAwesome;
	font-size: 2em;
	line-height: 2;
	text-align: center;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 2em;
	width: 2em;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1em;
	margin-left: -1em;
}