body {
	background-color: #eeeeee;
	color: #222222;
	
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	
}

.device-title,
.page-title
{
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	
	display: block;
	margin: 2em 0;
	padding: 0;
}

.page-description {
  color: #444444;
  
  font-family: 'Roboto', sans-serif;
	font-size: 1rem;
  line-height: 1.2;
	font-weight: 300;
	text-align: center;
	
	display: block;
	margin: 0 auto;
	padding: 0;
  max-width: 35rem;
}

.apple-logo:before {
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.4);
	
	content: "\f179";
	font-family: FontAwesome;
	font-size: 2em;
	line-height: 2;
	text-align: center;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 2em;
	width: 2em;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1em;
	margin-left: -1em;
}

.samsung-logo {
	background-color: rgba(255, 255, 255, 0.975);
	border-radius: 50%;
	
	display: block;
	margin: 0;
	padding: 0;
	height: 25px;
	width: 110px;
	overflow: hidden;
	
	position: absolute;
	top: 50%;
	margin-top: -12.5px;
	left: 50%;
	margin-left: -55px;
	
	-webkit-transform: rotateZ(-10deg);
	-moz-transform: rotateZ(-10deg);
	-ms-transform: rotateZ(-10deg);
	-o-transform: rotateZ(-10deg);
	transform: rotateZ(-10deg);
}

.samsung-logo:before {
	color: rgba(0, 0, 0, 0.7);
	
	content: "Samsung";
	
	font-family: 'Roboto Condensed';
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	
	display: block;
	margin: 0 auto;
	margin-top: -3px;
	padding: 0;
	
	-webkit-transform: rotateZ(10deg);
	-moz-transform: rotateZ(10deg);
	-ms-transform: rotateZ(10deg);
	-o-transform: rotateZ(10deg);
	transform: rotateZ(10deg);
	
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}