
.galaxy-s5-model {
	background-color: rgba(0, 0, 0, 0.95);
	border: 5px solid rgba(255, 255, 255, 0.975);
	border-top-width: 60px;
	border-bottom-width: 30px;
	border-radius: 30px;
	
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.6);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 640px;
	width: 360px;
	
	position: relative;
}

.galaxy-s5-model:before {
	border: 1px dotted rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 1), 0px 0px 2px 5px rgba(0, 0, 0, 0.3);
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	width: 60px;
	
	position: absolute;
	top: -30px;
	left: 150px;
}

.galaxy-s5-model:after {
	background-color: rgba(0, 0, 0, 0.5);
	border: 9px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1), 0px 0px 4px 0px rgba(0, 0, 0, 0.3), -35px 6px 0px -7px rgba(0, 0, 0, 0.6), -55px 6px 0px -7px rgba(0, 0, 0, 0.6);
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 10px;
	width: 10px;
	
	position: absolute;
	top: -35px;
	right: 10px;
}