



.htc-one-model {
	border-bottom: 50px solid rgba(255, 255, 255, 0.95);
	border-top: 50px solid rgba(255, 255, 255, 0.95);
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 40px;
	
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
				0px 0px 15px 3px rgba(0, 0, 0, 0.4);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 764px;
	width: 430px;
	
	position: relative;
}

.htc-one-model:before {
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	
	/* There are 47 of them */
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
				0px 0px 0px 4px rgba(255, 255, 255, 0.25),
				0px 0px 0px 7px rgba(0, 0, 0, 0.95),
				
				-325px 6px 0px -1px rgba(0, 0, 0, 0.95),
				-340px 6px 0px -1px rgba(0, 0, 0, 0.95),
				
				-295px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-295px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-295px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-295px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-290px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-290px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-290px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-290px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-285px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-285px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-285px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-285px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-280px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-280px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-280px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-280px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-275px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-275px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-275px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-275px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-270px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-270px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-270px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-270px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-265px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-265px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-265px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-265px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-260px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-260px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-260px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-260px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-255px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-255px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-255px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-255px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-250px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-250px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-250px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-250px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-245px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-245px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-245px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-245px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-240px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-240px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-240px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-240px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-235px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-235px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-235px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-235px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-230px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-230px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-230px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-230px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-225px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-225px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-225px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-225px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-220px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-220px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-220px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-220px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-215px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-215px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-215px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-215px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-210px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-210px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-210px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-210px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-205px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-205px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-205px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-205px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-200px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-200px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-200px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-200px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-195px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-195px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-195px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-195px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-190px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-190px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-190px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-190px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-185px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-185px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-185px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-185px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-180px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-180px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-180px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-180px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-175px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-175px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-175px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-175px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-170px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-170px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-170px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-170px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-165px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-165px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-165px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-165px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-160px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-160px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-160px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-160px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-155px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-155px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-155px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-155px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-150px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-150px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-150px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-150px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-145px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-145px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-145px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-145px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-140px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-140px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-140px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-140px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-135px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-135px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-135px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-135px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-130px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-130px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-130px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-130px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-125px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-125px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-125px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-125px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-120px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-120px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-120px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-120px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-115px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-115px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-115px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-115px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-110px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-110px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-110px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-110px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-105px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-105px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-105px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-105px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-100px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-100px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-100px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-100px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-95px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-95px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-95px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-95px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-90px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-90px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-90px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-90px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-85px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-85px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-85px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-85px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-80px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-80px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-80px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-80px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-75px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-75px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-75px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-75px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-70px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-70px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-70px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-70px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-65px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-65px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-65px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-65px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-60px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-60px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-60px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-60px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-55px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-55px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-55px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-55px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-50px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-50px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-50px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-50px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-45px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-45px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-45px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-45px 8px 0px -4px rgba(0, 0, 0, 0.75),
				
				-40px -4px 0px -4px rgba(0, 0, 0, 0.75),
				-40px 0px 0px -4px rgba(0, 0, 0, 0.75),
				-40px 4px 0px -4px rgba(0, 0, 0, 0.75),
				-40px 8px 0px -4px rgba(0, 0, 0, 0.75)
				;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 5px;
	width: 5px;
	
	position: absolute;
	top: -30px;
	right: 40px;
}

.htc-model:after {
	content: "";
}