



.htc-one-model {
	border-bottom: 50px solid rgba(255, 255, 255, 0.95);
	border-top: 50px solid rgba(255, 255, 255, 0.95);
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 40px;
	
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5),
				0px 0px 15px 3px rgba(0, 0, 0, 0.4);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 764px;
	width: 430px;
	
	position: relative;
}

.htc-one-model:before {
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	
	/* There are 47 of them */
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
				0px 0px 0px 4px rgba(255, 255, 255, 0.25),
				0px 0px 0px 7px rgba(0, 0, 0, 0.95),
				
				-325px 6px 0px -1px rgba(0, 0, 0, 0.95),
				-340px 6px 0px -1px rgba(0, 0, 0, 0.95),
				
				
				
				
				
				-295px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-295px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-295px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-295px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-290px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-290px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-290px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-290px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-285px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-285px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-285px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-285px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-280px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-280px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-280px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-280px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-275px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-275px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-275px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-275px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-270px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-270px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-270px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-270px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-265px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-265px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-265px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-265px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-260px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-260px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-260px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-260px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-255px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-255px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-255px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-255px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-250px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-250px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-250px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-250px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-245px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-245px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-245px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-245px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-240px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-240px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-240px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-240px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-235px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-235px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-235px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-235px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-230px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-230px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-230px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-230px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-225px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-225px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-225px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-225px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-220px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-220px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-220px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-220px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-215px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-215px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-215px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-215px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-210px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-210px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-210px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-210px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-205px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-205px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-205px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-205px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-200px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-200px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-200px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-200px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-195px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-195px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-195px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-195px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-190px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-190px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-190px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-190px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-185px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-185px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-185px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-185px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-180px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-180px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-180px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-180px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-175px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-175px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-175px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-175px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-170px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-170px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-170px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-170px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-165px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-165px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-165px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-165px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-160px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-160px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-160px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-160px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-155px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-155px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-155px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-155px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-150px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-150px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-150px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-150px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-145px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-145px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-145px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-145px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-140px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-140px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-140px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-140px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-135px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-135px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-135px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-135px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-130px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-130px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-130px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-130px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-125px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-125px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-125px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-125px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-120px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-120px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-120px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-120px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-115px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-115px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-115px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-115px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-110px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-110px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-110px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-110px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-105px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-105px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-105px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-105px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-100px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-100px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-100px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-100px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-95px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-95px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-95px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-95px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-90px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-90px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-90px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-90px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-85px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-85px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-85px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-85px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-80px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-80px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-80px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-80px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-75px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-75px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-75px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-75px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-70px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-70px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-70px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-70px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-65px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-65px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-65px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-65px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-60px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-60px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-60px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-60px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-55px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-55px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-55px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-55px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-50px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-50px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-50px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-50px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-45px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-45px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-45px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-45px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				-40px -4px 0px -4px rgba(0, 0, 0, 0.65),
				-40px 0px 0px -4px rgba(0, 0, 0, 0.65),
				-40px 4px 0px -4px rgba(0, 0, 0, 0.65),
				-40px 8px 0px -4px rgba(0, 0, 0, 0.65),
				
				
				
				
				
				-295px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-295px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-295px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-295px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-290px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-290px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-290px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-290px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-285px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-285px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-285px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-285px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-280px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-280px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-280px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-280px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-275px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-275px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-275px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-275px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-270px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-270px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-270px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-270px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-265px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-265px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-265px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-265px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-260px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-260px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-260px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-260px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-255px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-255px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-255px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-255px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-250px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-250px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-250px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-250px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-245px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-245px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-245px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-245px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-240px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-240px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-240px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-240px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-235px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-235px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-235px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-235px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-230px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-230px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-230px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-230px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-225px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-225px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-225px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-225px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-220px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-220px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-220px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-220px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-215px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-215px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-215px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-215px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-210px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-210px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-210px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-210px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-205px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-205px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-205px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-205px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-200px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-200px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-200px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-200px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-195px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-195px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-195px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-195px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-190px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-190px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-190px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-190px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-185px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-185px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-185px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-185px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-180px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-180px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-180px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-180px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-175px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-175px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-175px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-175px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-170px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-170px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-170px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-170px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-165px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-165px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-165px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-165px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-160px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-160px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-160px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-160px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-155px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-155px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-155px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-155px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-150px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-150px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-150px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-150px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-145px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-145px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-145px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-145px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-140px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-140px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-140px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-140px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-135px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-135px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-135px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-135px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-130px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-130px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-130px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-130px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-125px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-125px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-125px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-125px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-120px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-120px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-120px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-120px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-115px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-115px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-115px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-115px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-110px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-110px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-110px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-110px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-105px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-105px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-105px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-105px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-100px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-100px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-100px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-100px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-95px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-95px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-95px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-95px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-90px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-90px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-90px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-90px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-85px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-85px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-85px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-85px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-80px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-80px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-80px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-80px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-75px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-75px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-75px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-75px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-70px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-70px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-70px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-70px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-65px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-65px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-65px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-65px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-60px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-60px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-60px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-60px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-55px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-55px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-55px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-55px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-50px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-50px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-50px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-50px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-45px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-45px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-45px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-45px 818px 0px -4px rgba(0, 0, 0, 0.65),
				
				-40px 806px 0px -4px rgba(0, 0, 0, 0.65),
				-40px 810px 0px -4px rgba(0, 0, 0, 0.65),
				-40px 814px 0px -4px rgba(0, 0, 0, 0.65),
				-40px 818px 0px -4px rgba(0, 0, 0, 0.65)
				;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 5px;
	width: 5px;
	
	position: absolute;
	top: -30px;
	right: 40px;
}

.htc-one-model:after {
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.2);
	
	content: "\f104 \f015";
	font-family: FontAwesome;
	font-size: 18px;
	line-height: 3;
	letter-spacing: 250px;
	
	display: block;
	margin: 0;
	padding: 0 75px;
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}