



.htc-one-model {
	border-bottom: 50px solid rgba(255, 255, 255, 0.95);
	border-top: 50px solid rgba(255, 255, 255, 0.95);
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 40px;
	
	box-shadow: 0px 0px 0px 0.75px rgba(0, 0, 0, 0.95),
				0px 0px 0px 2px rgba(255, 255, 255, 0.6),
				0px 0px 15px 3px rgba(0, 0, 0, 0.4);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 764px;
	width: 430px;
	
	position: relative;
}

.htc-one-model:before {
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	border: 6px solid rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 1);
	
	content: "";
	
	display: block;
	
	position: absolute;
	top: -20px;
	right: 20px;
}

.htc-model:after {
	content: "";
}