



.htc-one-model {
	border-bottom: 40px solid rgba(255, 255, 255, 0.95);
	border-top: 40px solid rgba(255, 255, 255, 0.95);
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.95),
				0px 0px 0px 4px rgba(255, 255, 255, 0.7)
				0px 0px 15px 5px rgba(0, 0, 0, 0.4);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 778px;
	width: 386px;
}