.iphone5-model {
	background-color: #ffffff;
	border: 10px solid rgba(0, 0, 0, 0.8);
	border-top-width: 50px;
	border-bottom-width: 80px;
	box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.8), 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
	border-radius: 20px;
	
	margin: 80px auto;
	padding: 0;
	height: 568px;
	width: 320px;
	
	position: relative;
}

.iphone5-model:before {
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 4px;
	width: 60px;
	
	position: absolute;
	top: -26px;
	left: 50%;
	margin-left: -30px;
}

.iphone5-model:after {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.25);
	color: rgba(255, 255, 255, 0.6);
	
	content: "\f096";
	font-family: FontAwesome;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 50px;
	width: 50px;
	
	position: absolute;
	bottom: -65px;
	left: 50%;
	margin-left: -25px;
}