

.macbook-pro-model {
	background-color: #ffffff;
	border: 80px solid rgba(0, 0, 0, 0.9);
	border-radius: 80px;
	box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4), 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 525px;
	width: 840px;
}

.macbook-pro-model:before {
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
				0px 0px 0px 4px rgba(255, 255, 255, 0.25),
				0px 0px 0px 7px rgba(0, 0, 0, 0.95);
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 5px;
	width: 5px;
	
	position: absolute;
	top: -30px;
	right: 417.5px;
}

.macbook-pro-model:after {
	content: "";
	
	display: block;
	height: 0;
	width: 100%;
	
	position: absolute;
}