

.macbook-pro-model {
	background-color: #ffffff;
	border: 70px solid rgba(0, 0, 0, 0.9);
	border-bottom: none;
	border-radius: 50px;
	box-shadow: 0px 0px 0px 5px #dddddd, 0px 0px 0px 7px rgba(0, 0, 0, 0.1), 0px 0px 15px 7px rgba(0, 0, 0, 0.4);
	
	display: block;
	margin: 80px auto;
	padding: 0;
	height: 525px;
	width: 840px;
	
	position: relative;
}

.macbook-pro-model:before {
	background-color: rgba(0, 0, 0, 1);
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1),
				0px 0px 0px 4px rgba(255, 255, 255, 0.25),
				0px 0px 0px 7px rgba(0, 0, 0, 0.95);
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 5px;
	width: 5px;
	
	position: absolute;
	top: -40px;
	right: 417.5px;
}

.macbook-pro-model:after {
	border-bottom: 30px solid #cccccc;
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
	border-top: none;
	background-color: #dddddd;
	
	content: "";
	
	display: block;
	margin: 0;
	height: 30px;
	width: 100%;
	
	position: absolute;
	bottom: 0;
	left: -70px;
}